/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--text-color);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em; /* Largest heading */
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

/* Paragraphs */
p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none; /* No underline */
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #004499;
}
